<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>Thông tin của tôi</title>
    <link rel="stylesheet" href="subpage/css/main.css">
    <link rel="stylesheet" href="assets/fonts/themify-icons/themify-icons/themify-icons.css">
</head>

<body>
<div id="main">
    <div id="header">
        <!-- Begin : Nav-->
        <ul id="nav">
            <li><a href="">Trang chủ</a></li>
            <li>
                <a href="">Sản phẩm</a>
                <ul class="subnav">
                    <li><a href="">Nike</a></li>
                    <li><a href="">Adidas</a></li>
                    <li><a href="">Vans</a></li>
                    <li><a href="">Balenciaga</a></li>
                    <li><a href="">Fendi</a></li>
                    <li><a href="">Prada</a></li>
                    <li><a href="">Converse</a></li>
                </ul>
            </li>
            <li><a href="">Sale</a></li>
            <li><a href="">Top bán chạy</a></li>
        </ul>
        <!-- End : Nav-->
        <div class="buy">
            <i class="b ti-shopping-cart"></i>
        </div>
        <!-- Begin : Search buttom-->
        <div class="search-btn">
            <i class="search-icon ti-search"></i>
            <input type="box" >
        </div>
        <!-- End : Search buttom-->
    </div>

    <div id="content">
        <div class="profile">
            <div class="my-acc-header">
                <h1>Hồ sơ của tôi</h1>
                <div class="form">
                    Tên đăng nhập : <!--nhập lúc đăng kí tài khoản-->
                    <br><br>
                    Tên : <input type="text">
                    <input type="submit" value="Thay đổi" style="cursor: pointer;">
                    <br><br>
                    Email :  <!--email đăng kí-->
                    <br><br>
                    Giới tính :
                    <input type="radio" name="gender"> Nam
                    <input type="radio" name="gender"> Nữ
                    <input type="radio" name="gender"> Khác
                    <br><br>
                    Ngày sinh :
                    <input type="date">
                    <br><br>
                    Địa chỉ :
                    <input type="text">
                    <input type="submit" value="Thay đổi" style="cursor: pointer;">
                    <br><br>
                    <input type="submit" value="Lưu" style="font-size: 16px; cursor: pointer; background-color: #ccc;">
                </div>
            </div>
        </div>

    </div>
    <div id="footer">
        <div class="contact">
            <p>Shoes Shop</p>
            <div class="adress">
                <i class="adr1 ti-location-pin"></i>
                Đường Z115, Xã Quyết Thắng, Thành phố Thái Nguyên
                <br>
                <i class="adr2 ti-mobile"></i>
                Phone: 0123456789
                <br>
                <i class="adr3 ti-email"></i>
                Email: shoesshop@gmail.com
                <br>
                <i class="adr4 ti-facebook"></i>
                Fb: facebook.com/shoes_shop
            </div>
        </div>
    </div>
</div>
</body>
</html>