<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="assets/css/Cart.css">
    <title>Cart List</title>
</head>
    <body>
            <div class="main">
                <table class="table">
                    <thead class="head">
                        <tr>
                            <th class="mt-50">Sản phẩm</th>
                            <th class="mt-10">Đơn giá</th>
                            <th class="mt-8">Số lượng</th>
                            <th lass="mt-22" >Tổng</th>
                            <th class="mt-10">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="content">
                                <td>
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs">
                                            <img src="../assets/img/Product-detail__img/shoe_1.jpg" alt="" class="shoes">
                                            <hr>
                                        </div>
                                        <div class="col-sm-10">
                                            <h4 class="nomargin">Sản phẩm</h4>
                                            <p>Giày cầu lông - giày bóng chuyền nam nữ Promax </p>
                                        </div>
                                    </div> 
                                </td>

                                    
                                <td >$1.99</td>
                                    
                                    <td class="">
                                        <input type="number" class="form-control text-center" value="1">
                                    </td>
                                    <td data-th="" class="text-center">1.99</td>
                                    <td class="" data-th="">
                                        <button class="icon-refesh"><i class="fas fa-sync-alt"></i></button>
                                        <button class="icon-del"><i class="fas fa-trash-alt"></i></button>								
                                    </td>
                                </tr>

                                

                        <tr class="content">
                            <td>
                                <div class="row">
                                     <div class="col-sm-2">
                                        <img src="../assets/img/Product-detail__img/shoe_2.jpg" alt="" class="shoes">
                                            <hr>
                                    </div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">Sản phẩm</h4>
                                        <p>Giày cầu lông - giày bóng chuyền nam nữ Promax </p>
                                    </div>
                                </div> 
                            </td>

                            <td >$1.99</td>
                            <td>
                                <input type="number" class="form-control text-center" value="1">
                            </td>
                            <td data-th="" class="text-center">1.99</td>
                            <td class="" data-th="">
                                <button class="icon-refesh"><i class="fas fa-sync-alt"></i></button>
                                <button class="icon-del"><i class="fas fa-trash-alt"></i></button>								
                            </td>
                        </tr>

                        <tr class="content">
                            <td>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="../assets/img/Product-detail__img/shoe_3.jpg" alt="" class="shoes">
                                        <hr>
                                    </div>
                                    <div class="col-sm-10">
                                        <h4 class="nomargin">Sản phẩm</h4>
                                        <p>Giày cầu lông - giày bóng chuyền nam nữ Promax </p>
                                    </div>
                                </div> 
                            </td>

                            
                            <td >$1.99</td>
                            <td>
                                <input type="number" class="form-control text-center" value="1">
                            </td>
                            <td data-th="" class="text-center">1.99</td>
                            <td class="" data-th="">
                                <button class="icon-refesh"><i class="fas fa-sync-alt"></i></button>
                                <button class="icon-del"><i class="fas fa-trash-alt"></i></button>								
                            </td>
                        </tr>
                </tbody>
            

            <tfoot class="foot">
                <tr >
                    <td>
                        <a class="btn" href="">GO SHOPPING</a>
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td class="text-center">
                        <Strong >Tổng: $1.99</Strong>
                    </td>

                    <td>
                        <a class="btn" href="">CHECKOUT</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    </body>
</html>