<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>Thông tin của tôi</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/subpage/css/main.css">
    <link rel="stylesheet" href="assets/fonts/themify-icons/themify-icons/themify-icons.css">
</head>

<body>
<div id="main">
    <?php include "templates/Customer/partials/header.html";?>

    <div id="content">
        <div class="profile">
            <div class="my-acc-header">
                <h1>Hồ sơ của tôi</h1>
                <form class="form" method="post" action="?task=updateInfo">
                    <label for="fullname">Họ và tên </label>
                    <input type="text" name="fullname" class="input" id="fullname" value="<?php echo $data[0]['fullname']; ?>">
                    <br><br>
                    <label>Email : </label>
                    <span class="username" style="font-size: 19px; color: #f64749;"><?php echo $data[0]['username']; ?></span>
                    <br><br>
                    <label>Giới tính </label>
                    <input type="radio" name="gender" id="nam" value="Nam" > <label for="nam">Nam</label>
                    <input type="radio" name="gender" id="nu" value="Nữ" class="gender" > <label for="nu">Nữ</label>
                    <input type="radio" name="gender" id="khac" value="Khác" class="gender" > <label for="khac">Khác</label>
                    <br><br>
                    <label for="date">Ngày sinh </label>
                    <input type="date" id="date" class="input" name="date" value="<?php echo $data[0]['birthday']; ?>">
                    <br><br>
                    <label for="address">Địa chỉ </label>
                    <input type="text" name="address" class="input" id="address" value="<?php echo $data[0]['address']; ?>">
                    <br><br>
                    <div class="btn">
                        <button type="submit">Lưu</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div id="footer">
        <div class="contact">
            <p>Shoes Shop</p>
            <div class="adress">
                <i class="adr1 ti-location-pin"></i>
                Đường Z115, Xã Quyết Thắng, Thành phố Thái Nguyên
                <br>
                <i class="adr2 ti-mobile"></i>
                Phone: 0123456789
                <br>
                <i class="adr3 ti-email"></i>
                Email: shoesshop@gmail.com
                <br>
                <i class="adr4 ti-facebook"></i>
                Fb: facebook.com/shoes_shop
            </div>
        </div>
    </div>
</div>
</body>
</html>