<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Top product Selling</title>
	<link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/product.css">
    <link rel="stylesheet" href="assets/fonts/themify-icons/themify-icons/themify-icons.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<div class="wrapper">
        <?php include "templates/Customer/partials/header.html";?>

        <div class="top-title">
            <h2 class="top-title__heading">Top bán chạy</h2>
            <p class="top-title__amount">(64 sản phẩm)</p>
        </div>

		<div class="grid">
            <div class="row top-product__header">
                <div class="sale-header__sale sale-sort">
                    Sort
                    <i class="sale-header__down fas fa-chevron-down"></i>
                </div>
            </div>
			<div class="row">
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="#"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c0238e2c-1692-4a9c-a546-3dca529b8bcd/air-zoom-bb-nxt-basketball-shoe-wRmJMz.jpg" alt="Nike Air Zoom BB NXT" title="Nike Air Zoom BB NXT"></a>
                        </div>
                        <div class="product__content">
                            <p class="product__title">Nike Air Zoom BB NXT</p>
                            <span class="product__blurred">Basketball Shoe</span>
                            <span class="product__blurred">1 Colour</span>
                            <div class="product__price">
                                <span class="product__price-new">3.698.000 ₫</span>
                                <span class="product__price-old">5.279.000 ₫</span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div> <!-- End product sale -->

        <div id="footer">
                <div class="contact">
                    <p>Shoes Shop</p>
                    <div class="adress">
                        <i class="adr1 ti-location-pin"></i>
                        Đường Z115, Xã Quyết Thắng, Thành phố Thái Nguyên
                        <br>
                        <i class="adr2 ti-mobile"></i>
                        Phone: 0123456789
                        <br>
                        <i class="adr3 ti-email"></i>
                        Email: shoesshop@gmail.com
                        <br>
                        <i class="adr4 ti-facebook"></i>
                        Fb: facebook.com/shoes_shop
                    </div>
                </div>
            </div>
	</div>
</body>
</html>