<div id="header">
    <!-- Begin : Nav-->
    <ul id="nav">
        <li><a href="?controller=NonCustomer&task=showHome" target="_self">Trang chủ</a></li>
        <li>
            <a href="?controller=NonCustomer&task=showProducts">Sản phẩm</a>
            <ul class="subnav">
                <li><a href="">Nike</a></li>
                <li><a href="">Adidas</a></li>
                <li><a href="">Vans</a></li>
                <li><a href="">Balenciaga</a></li>
                <li><a href="">Fendi</a></li>
                <li><a href="">Prada</a></li>
                <li><a href="">Converse</a></li>
            </ul>
        </li>
        <li><a href="?controller=NonCustomer&task=showSaleProducts">Sale</a ></li>
        <li><a href="?controller=NonCustomer&task=showTopProducts">Top bán chạy</a></li>
        <li><a href="?controller=NonCustomer&task=login">Đăng kí / Đăng nhập</a></li>
    </ul>
    <!-- End : Nav-->

    <div class="buy">
        <a href="?controller=NonCustomer&task=login" class="b ti-shopping-cart"></a>
    </div>
    <!-- Begin : Search buttom-->
    <div class="search-btn">
        <i class="search-icon ti-search"></i>
        <input type="text">
    </div>
    <!-- End : Search buttom-->
</div>
