<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>All Product</title>
	<link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/product.css">
    <link rel="stylesheet" href="assets/fonts/themify-icons/themify-icons/themify-icons.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<div class="wrapper">
        <div id="header">
        <?php include "templates/nonCustomer/partials/header.html";?>

        <div class="top-title">
            <h2 class="top-title__heading">Tất cả giày</h2>
            <p class="top-title__amount">(179 sản phẩm)</p>
        </div>

		<div class="grid">
            <div class="row top-product__header">
                <div class="sale-header__sale sale-sort">
                    Sort
                    <i class="sale-header__down fas fa-chevron-down"></i>
                </div>
            </div>
			<div class="row">
                <?php foreach ($data as $value):?>
                <div class="col-3">
                    <div class="product">
                        <div class="product__img">
                            <a href="?task=showProductsDetail&id=<?php echo $value['id_products']?>">
                                <img src="assets/img/products/<?php echo $value['img']?>" alt="" title="">
                            </a>
                        </div>
                        <div class="product__content">
                            <p class="product__title"></p>
                            <span class="product__blurred"><?php echo $value['name']?></span>
                            <span class="product__blurred">Size: <?php echo $value['color']?></span>
                            <span class="product__blurred">Color: <?php echo $value['size']?></span>
                            <div class="product__price">
                                <span class="product__price-new"><?php echo $value['sale']?></span>
                                <span class="product__price-old"><?php echo $value['price']?></span>
                            </div>
                        </div>
                    </div>
                </div>
                <?php endforeach;?>
			</div>
		</div> <!-- End product sale -->

        <div id="footer">
                <div class="contact">
                    <p>Shoes Shop</p>
                    <div class="adress">
                        <i class="adr1 ti-location-pin"></i>
                        Đường Z115, Xã Quyết Thắng, Thành phố Thái Nguyên
                        <br>
                        <i class="adr2 ti-mobile"></i>
                        Phone: 0123456789
                        <br>
                        <i class="adr3 ti-email"></i>
                        Email: shoesshop@gmail.com
                        <br>
                        <i class="adr4 ti-facebook"></i>
                        Fb: facebook.com/shoes_shop
                    </div>
                </div>
            </div>
	</div>
</body>
</html>