<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>Shoes-Shop</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fonts/themify-icons/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="assets/css/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
<div id="main">
    <?php include "templates/product/partials/header.html";?>
    <div class="main">
        <table class="table">
            <thead class="head">
                <tr>
                    <th class="mt-50">Tên Sản phẩm</th>
                    <th class="mt-10">Màu</th>
                    <th class="mt-10">Size</th>
                    <th class="mt-10" >Số lượng</th>
                    <th class="mt-10">Đơn giá</th>
                    <th class="mt-10">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <form action="?controller=Product&task=update" method="POST">
                <?php foreach ($data as $value) :?>
                <tr class="content">
                        <td>
                            <div class="row">
                                <div class="col-sm-2 hidden-xs">
                                    <img src="assets/img/products/<?php echo $value['img']?>" alt="" class="shoes">
                                    <hr>
                                </div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">Sản phẩm</h4>
                                    <input name='name' type="text" value="<?php echo $value['name']?>" size="15">
                                </div>
                            </div> 
                              
                        <td>
                            <input name='color' type="text" value="<?php echo $value['color']?>" size="15">
                        </td>
                        <td>
                            <input name='size' type="text" value="<?php echo $value['size']?>" size="15">
                        </td>
                        <td>
                            <input name='amount' type="number" value="<?php echo $value['amount']?>" size="15">
                        </td>
                        <td>
                            <input name='price' type="number" value="<?php echo $value['price']?>" size="15">
                        </td>
                        <td class="" data-th="">
                            <input type="hidden" name="id" value="<?php echo $value['id_products']?>">
                        <button class="icon-refesh" type="submit"><i class="fas fa-sync-alt"></i></a>				
                        </tr>
                        <tr>
                            <td>
                                <input name='img' type="file">
                            </td>
                        </tr>
                        <?php endforeach;?>
                    </form>
        </tbody>
</table>
</div>
    

    </div>
</div>
</body>
</html>