<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Poduct-detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="card-wrapper">
        <div class="card">
            <!-- Card left -->
                <div class="product-imgs">
                    <div class="img-display">
                        <div class="img-showcase">
                            <img src="./img/shoe_1.jpg" alt="">
                            <!-- <img src="./img/shoe_2.jpg" alt="">
                            <img src="./img/shoe_3.jpg" alt="">
                            <img src="./img/shoe_4.jpg" alt=""> -->
                        </div>
                    </div>
                    <!-- Small photo -->
                    <div class="img-select">
                        <div class="img-item">
                            <a href="./img/shoe_1.jpg" data-id="1">
                                <img src="./img/shoe_1.jpg" alt="shoe img">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="./img/shoe_2.jpg" data-id="2">
                                <img src="./img/shoe_2.jpg" alt="shoe img">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="./img/shoe_3.jpg" data-id="3">
                                <img src="./img/shoe_3.jpg" alt="shoe img">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="./img/shoe_4.jpg" data-id="4">
                                <img src="./img/shoe_4.jpg" alt="shoe img">
                            </a>
                        </div>
                    </div>
                </div>

            <!-- Card right -->
            <div class="product-content">

                <h2 class="product-title">Nike Shoes</h2>
                <a href="#" class="product-link">Visit Nike Store</a>
                <div class="product-rating">
                    <div class="fas fa-star"></div>
                    <div class="fas fa-star"></div>
                    <div class="fas fa-star"></div>
                    <div class="fas fa-star"></div>
                    <div class="fas fa-star"></div>
                    <span>5(30)</span>
                </div>

                <!-- Price -->
                <div class="product-price">
                    <p class="last-price">Giá cũ: <span>$250</span></p>
                    <p class="new-price">Giá mới: <span>$200</span></p>
                </div>

                <div class="product-detail">
                    <h2>Về mặt hàng này</h2>
                    <p>
                        Giày bóng chuyền nam là thiết kế giày cho những cuộc đua dài.
                        Đôi giày đặc biệt với thiết kế nhẹ không ngờ, sự thoải mái đến
                        từ bộ đệm đặc biệt bền bỉ với công nghệ FlyteFoam, vừa nhẹ vừa linh hoạt với khả năng hỗ trợ đáng ngạc nhiên.
                         Bên cạnh đó, còn được thiết kế giúp điều chỉnh tình trạng lật má trong của bàn chân,
                        cho mỗi bước chân được vững vàng và ổn định.
                    </p>
                        
                    <p>

                    </p>

                    <ul>
                        <li>Màu sắc: <span>Đen</span></li>
                        <li>Có sẵn: <span>Trong kho</span></li>
                        <li>Loại: <span>Giày thể thao</span></li>
                        <li>Ship: <span>Miễn phí</span></li>
                    </ul>
                </div>

                <!-- Thông tin -->
                <div class="purchase-info">
                    <input type="number" min="0" value="1">
                    <button type="button" class="btn">
                        Thêm vào giỏ hàng
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                    <button type="button" class="btn">Mua ngay</button>
                
                </div>

                <div class="social-link">
                    <p>Chia sẻ:</p>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-pinterest"></i>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>