<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quên mật khẩu</title>
	<link rel="stylesheet" href="assets/css/forgotPassword.css">
</head>
<body>
	<div class="container">
		<div class="overflow"></div>
		<form action="?task=checkEmail" method="post" class="account-form">
			<div class="account-form__login">
				<h1>Khôi phục mật khẩu</h1>
				<span class="account-form__policy">Vui lòng nhập email đã đăng ký tài khoản <br> để khôi phục mật khẩu</span>
				<div class="account-form__email">
			 			<label class="account-form__label" for="email">Email</label>
			 			<input type="email" id="email" class="account-form__input" name="email" placeholder="Nhập Email Của Bạn  ... ">
			 	</div>	
			 	<div class="account-form__btn">
			 		<button class="account-form__submit"  type="submit"> Xác Nhận </button>
			    </div>
			    <a href="?task=login" class="account-form__cancel"> Hủy </a>
			</div>
		</form>
	</div>
</body>
</html>