<div id="header">
    <!-- Begin : Nav-->
    <ul id="nav">
        <li><a href="?controller=Product&task=showManage" target="_self">Quản lí hàng hóa</a></li>
        <li><a href="?controller=Product&task=showSaleProducts">Kiểm tra danh sách đặt hàng</a ></li>
        <li><a href="?controller=Product&task=showTopProducts">Top bán chạy</a></li>
    </ul>
    <!-- End : Nav-->

    <div class="buy">
        <a href="?controller=NonCustomer&task=login" class="b ti-shopping-cart"></a>
    </div>
    <!-- Begin : Search buttom-->
    <div class="search-btn">
        <i class="search-icon ti-search"></i>
        <input type="text">
    </div>
    <!-- End : Search buttom-->
</div>
